<html>
    <head>
        <title>Sno's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Sno's blog</a></h1>
        </div>

        <div>
            <p>published: 28.09.2023, 18:00</p>
            <h2><a href="">My first post</a></h2>
            <p>snosnosnosnosnosnosnosnosnso</p>
        </div>

        <div>
            <p>published: 28.09.2023, 18:10</p>
            <h2><a href="">My second post</a></h2>
            <p>hihihihihihihihihihihihihihihi</p>
        </div>
    </body>
</html>